.scenes {
    
    h3 {
        padding: 8px;
        margin-top: 24px;
        margin-bottom: 12px;
    }
    
    h1 {
        text-align: center;
    }

    &__tabs {
        margin: 0 auto;
        text-align: center;
        
        
        &__button {
            font-family: "Angkor", serif;
            font-size: 20px;
            border: none;
            padding: 8px;
            margin: 4px;
            background: none;
            text-transform: uppercase;
            color: red;

            &:hover {
                cursor: pointer;
            }

            &--is-active{
                border-bottom: 2px solid yellow;
            }
        }

        
    }

    & .scenes__container {
        margin: 0 auto;
        text-align: center;
        display: none;

        &--is-active{
            display: block;
        }
    }


}






