.scenes {
    
    
    h3 {
        padding: 8px;
        margin-top: 24px;
        margin-bottom: 12px;
    }
    
    h1 {
        text-align: center;
    }

    &__tabs {
        margin: 0 auto;
        text-align: center;
        
        &__button {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid yellow;
            padding: 8px;
            margin: 4px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    & .scenes__container {
        margin: 0 auto;
        text-align: center;
    }


}






